@model DigitalPortfolio.Domain.Entity.User;

<header>
    <img src="~/logo1.png" style="margin-top: 6px">
    <nav>
        <a href="/" style="margin-left: 40px">Главная</a>
        <a href="/Project/Add">Добавить проект</a>
        <button class="searchButton">Поиск...</button>
        @if (!User.Identity.IsAuthenticated)
        {
            <form action="/Account/Login">
                <button class="loginButton">Вход</button>
            </form>
            <form action="/Account/Register">
                <button class="signupButton">Регистрация</button>
            </form>
        }
        else
        {
            <a href="/Account" style="margin-left: 200px">Мой профиль</a>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input class="fakeClass signupButton" type="submit" value="Выход" />
            </form>
        }
    </nav>
</header>
<main>
    <label style="margin-left:880px; font-size:20px; font-weight:700;">Мой профиль</label>
    <div>
        <form enctype="multipart/form-data" asp-controller="Account" asp-action="Index">
            <div>
                <input asp-for="Id" value="@Model.Id" hidden="hidden" />
            </div>
            <div style="float:left; margin-left:400px;">
                @if (Model.Image != null)
                {
                    <img src="~/avatars/@Model.Image" class="rounded-circle" width="200px" height="200px" />
                }
                else
                {
                    <img src="~/NoImage.png" class="rounded-circle" width="200px" height="200px" />
                }
                <label class="loadImageButton" for="imageLoad">Загрузите фото</label>
                <input id="imageLoad" style="display:none" asp-for="Secret" type="file" accept="image/*" onchange="homeAvatarScript(event)">
                <img id="homeAvatar" style="position: absolute; top:125px; left:400px; width:202px; height:202px;" class="rounded-circle" />
            </div>
            <div style="float:right">
                <label>ОСНОВНАЯ ИНФОРМАЦИЯ</label>
                <div class="basicInformation">
                    <div style="float:left; padding:10px;">
                        <label>Имя</label>
                        <input class="halvedSize" asp-for="Name" value="@Model.Name?.Trim()" type="text" />
                    </div>
                    <div style="float:right; padding:10px;">
                        <label>Фамилия</label>
                        <input class="halvedSize" asp-for="Surname" value="@Model.Surname?.Trim()" type="text" />
                    </div>
                    <div style="float:left; padding:10px;">
                        <label>Профессия</label>
                        <input class="fullSize" asp-for="Profession" value="@Model.Profession?.Trim()" placeholder="Пример: UX/UI дизайнер" type="text" />
                    </div>
                    <div style="float:left; padding:10px;">
                        <label>Страна</label>
                        <input class="halvedSize" asp-for="Country" value="@Model.Country?.Trim()" type="text" />
                    </div>
                    <div style="float:right; padding:10px;">
                        <label>Город</label>
                        <input class="halvedSize" asp-for="City" value="@Model.City?.Trim()" type="text" />
                    </div>
                </div>
                <label>ОБО МНЕ</label>
                <div class="description">
                    <label style="margin-top:0px;">Описание</label>
                    <textarea class="fullSize" style="height:180px;" asp-for=" Description">@Model.Description?.Trim()</textarea>
                </div>
                <div>
                <button class="saveButton" type="submit">Сохранить</button>
                </div>
            </div>
        </form>
        @*<div>
            <label>МОИ ПРОЕКТЫ</label>
        </div>
        <div>
            <label>МОЯ СТАТИСТИКА</label>
        </div>*@
    </div>
</main>


<script>
    var homeAvatarScript = function (event) {
        var homeAvatar = document.getElementById('homeAvatar');
        homeAvatar.src = URL.createObjectURL(event.target.files[0]);
        homeAvatar.onload = function () {
            URL.revokeObjectURL(homeAvatar.src) // free memory
        }
    };
</script>